<div class="row">

  <!--  Add A New Property Form-->
  <div class="col-md-5">
    <h4>Add A New Property</h4>
    <hr/>
    <div class="card card-body bg-light">
      <form class="form-horizontal">
        <div class="form-group">
          <label>Property Address</label>
          <input type="text" [(ngModel)]="propertyAddress" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="What is the property's address?">
        </div>

        <div class="form-group">
          <label>Status</label>
          <input type="text" [(ngModel)]="propertyRentedStatus" [ngModelOptions]="{standalone: true}" class="form-control"  class="form-control" placeholder="How is this property being used?">
        </div>

        <div class="form-group">
          <label>Contact Number</label>
          <input type="text" [(ngModel)]="propertyContactNumber" [ngModelOptions]="{standalone: true}" class="form-control" class="form-control" placeholder="Enter current tenant's phone number">
        </div>
        <br/>

        <div class="form-group">
          <button type="reset" class="btn btn-danger pull-right">Clear</button> &nbsp;
          <button type="submit" class="btn btn-primary pull-right" (click)="save()">Save</button>


        </div>
      </form>
    </div>
  </div>


<!--List Property Table-->

  <div class="col-md-7">
    <h4>Property Portfolio</h4>
    <hr>
    <div class="card card-body bg-light">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Property Address</th>
          <th scope="col">Rent Status</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Details</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let PropertyItem of PropertyArray">
        <tr *ngFor="let PropertyItem of PropertyArray">
          <th scope="row">{{PropertyItem.propertyId  }}</th>
          <td>{{PropertyItem.propertyAddress }}</td>
          <td>{{PropertyItem.propertyRentedStatus }}</td>
          <td>{{PropertyItem.propertyContactNumber }}</td>
          <td>
            <div class = btn-group>
              <button type="button" class="btn btn-success" (click)="setUpdate(PropertyItem)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="setDelete(PropertyItem)">Delete</button>
            </div>

          </td>
        </tr>


        </tbody>
      </table>

    </div>
  </div>
</div>



